*{
    margin: 0;


}
/* this the primary button style */
.btn-primary{
    background-color: orange;
    margin-top: 20px;
    padding: 20px 35px;
    border: 0;
    border-radius: 7%;
    font-size: 18px;
    color:aliceblue;
    font-weight: bold;

}

/* Banner styles */

.banner-back-img{
    background-image: url("../banner/banner1.png");
    background-repeat: no-repeat;
    /* background-size:initial; */
    height: 1000px;
}

.banner-description{
    text-align:right;
    padding: 240px 150px;
    
    
}

.banner-title{
    font-size: 50px;


}

.banner-messege{
    color:gray;
    padding-top:20px;
    
}

/* main body styles (part one) */

.failures{
    display: flex;
    gap: 100px;
}

.person-image{
    margin-left: 150px;
    margin-bottom: 50px;

}

.fail-title{
    font-weight: bold;
    font-size: 50px;
    margin: 40px 20px;
    padding-top: 150px;
}

.fail-description{
    color: rgb(85, 77, 77);
    line-height: 2em;
    font-size: 20px;
    
}
ul li{
    list-style: none;
}

.tik-color{
    color:green;
}

/* Styles for plans part */

.plan-headline{
    text-align: center;
    margin: 50px 0;
    font-size: 40px;
    font-weight: 1200;
}

.plans-name{
    display: flex;
    justify-content: center;
    gap: 150px;
    padding-bottom: 50px;
}

.plan-img{
    margin-left: 60px;
    /* text-align: center; */
    
}
.js-img{
    margin-left: 20px;
}
.plan h2{
    
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
   
    
}
.plan h4{
    text-align: center;
}

/* .plan-wish{
    margin-left: 30px;
   
} */

